<app-menu></app-menu>
<div class="container">
  
  <div class="header">
    <p>My rooms</p>
  </div>
  <div class="rooms">
    <div class="room" *ngFor="let room of rooms;">
       <div class="card"><img src="{{room.image}}" alt="room1"></div>
    <div class="details">
      <h2>{{room.RoomType}}</h2>
      <p>R. {{room.Price}} p/m</p>
    </div>
    <button type="button" class="btn btn-info" (click)="viewRoomDetails()" routerLink="/details/{{room.key}}" routerDirection="forward">View Rooms</button>
    </div>
   
  </div>
</div>