#main {
    
     display: flex;
    flex-direction: row;
    flex-wrap: wrap; 

  }
  .room {
     margin: 1%;
     position: relative;
}
  .room-image {
    width: 30vh;
    border: 1px solid #ddd;
  }
  .thumbnail {
    width: 100%;
    object-fit: cover;
  }
  .article {
      padding: 3%;
      display: flex;
  }
  .details{
      position: absolute;
      bottom: 1em;left: 1em;color: #fff;  
  }
