#main {
    margin-left: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  }
  .room {
     margin: 1%;
}
  .room-image {
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid #ddd;
    position: relative;
    height: 25rem;
    width: 20rem;
    width: 100%;
    margin-bottom: 2%;
  }
  .thumbnail {
   
    width: 100%;
    object-fit: cover;
  }
  .article {
      padding: 3%;
  }
  .box {
     
      width: 20vh;
      
      border: 1px solid #ddd;

  }
