.main {
    background: linear-gradient((red)50%, (rgba(255, 136, 0, 0.281))50%);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }
  .login {
    position: absolute;
    left: 20rem;
    right: 20rem;
    top: 10rem;
    bottom: 10rem;
    display: flex;
    flex-direction: row;
    
    border-radius: 10px;
    box-shadow: 0 5px 10px #dddddd;
    background: #fff;
  }
  .login::before {
    content: 'Sign Up Form';
    position: absolute;
    top: -2em;
    width: 100%;
    color: #666;
    text-align: center;
    white-space: nowrap;
    font-size: 20px;
  
  
  
  
  }
  .login::after {
    content: '';
    position: absolute;
    bottom: -2em;
    width: 30px;
    color: #666;
    text-align: center;
    white-space: nowrap;
    font-size: 13px;
  }
  
  .left {
    flex: 1;
    background: linear-gradient(rgba(207, 160, 4, 0.411), rgba(170, 92, 4, 0.705)), url('../../../assets/images/ameer-basheer-s03YaiW2Q9U-unsplash.jpg');
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #dddddd;
    text-shadow: 1px 1px solid #666;
    padding: 5%;
    order: 2;
  }

  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    order: 1;
  }
  .form {
    width: 50%;
  }
  input {
  
    
  }
  input[type] {
    background: #ebebeb;
    padding: 10px;
    padding-left: 35px; 
    width: 100%;
    border: none;
    position: relative;
  }
  /* .far {
    position: absolute;
    top: 35.5%;
    padding: 3px;
    z-index: 1;
    
  } */
 /*  .material-icons {
    position: absolute;
    top: 46.5%;
    padding: 3px;
    z-index: 1; 
  } */
  .form-group {
    margin-bottom: 2rem;
    text-align: center;
  
  }
  .btn {
    border: none;
    padding: 10px;
    background: forestgreen;
    border-radius: 50px;
    color: #fff;
    font-weight: 400;
    width: 60%;
  }
  .btn::before, .btn::after {
    content: '';
    
  }

  .logo {
    margin-bottom: 20%;
}
.far {
    position: absolute;
    top: 43.5%;
    padding: 3px;
    z-index: 1;
    
}
.material-icons {
    position: absolute;
    top: 56%;
    padding: 3px;
    z-index: 1; 
}